h1 {
    margin-top: 60px;
  }
  
  div {
    margin-bottom: 4px;
  }

  form {
    text-align: left;
    color: #FFFFFF;
  }
  
  .sign-in {
    border: 2px black solid;
    background-color: #EEEEEE;
    margin-top: 40px;
    padding: 0px 10px 40px 10px;
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    width: 80%;
  }
  
  .registration {
    border: 2px black solid;
    margin-top: 40px;
    padding: 0px 10px 40px 10px;
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
     width: 80%;
  }
  
  .landing-page {
    border: 2px black solid;
    margin-top: 40px;
    padding: 40px 10px 40px 10px;
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    width: 80%;
  }

  .dhr-page {
    border: 2px black solid;
    background-color: #EEEEEE;
    margin-top: 40px;
    padding: 0px 10px 40px 10px;
    background-color: #FFFFFF;
    width: 80%;
  }

  .defect-log {
    border: 2px black solid;
    background-color: #EEEEEE;
    margin-top: 40px;
    padding: 0px 10px 40px 10px;
    background-color: #FFFFFF;
    width: 80%;
  }

  .form-error {
    color: #f24537;
  }

  